target
.env
.DS_Store
*.pem

# ----------------
# FRONTEND
# ----------------
node_modules
frontend/**/lib 
frontend/**/dist
frontend/**/build
frontend/**/coverage

storybook-static

frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions
!frontend/.yarn/cache

frontend/.pnp.*
