@import "tailwindcss/theme.css" layer(theme);

@layer base {
  #tw-scope {
    @import "tailwindcss/preflight.css" layer(base);
  }
}

@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:is([data-theme="dark"] *));

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary:oklch(70.5% 0.213 47.604);
  --ifm-color-primary-dark:  oklch(64.6% 0.222 41.116); 
  --ifm-color-primary-darker: oklch(55.3% 0.195 38.402) 
  --ifm-color-primary-darkest: oklch(47% 0.157 37.304)
  --ifm-color-primary-light: oklch(75% 0.183 55.934);
  --ifm-color-primary-lighter: oklch(83.7% 0.128 66.29);
  --ifm-color-primary-lightest: oklch(90.1% 0.076 70.697);
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 85%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  background-color: var(--color-orange-50);
  font-family: var(--ifm-heading-font-family);
  color: var(--color-orange-950);
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}


.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 700px;
  overflow: hidden;
  display: flex;
   > * {
      flex: 0 0 100%;
    }
   &:hover .group {
      animation-play-state: paused;
    }
}
.group {
  display: flex;
  gap: 20px;
  /* Add padding to the right to create a gap between the last and first card. */
  padding-right: 20px;
  /* ... */
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.carousel-card {
  width: 250px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.schema-item {
  padding: 5px 0 5px 1rem;
  list-style: none;
  position: relative;
  border-left: thin solid var(--color-slate-400) !important;
  margin: 0 !important;
}

.schema-item::before {
  vertical-align: top;
  border-bottom: thin solid var(--color-slate-400);
  content: "";
  width: .7rem;
  height: .5rem;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}


.schema-item__details {
  color: var(--ifm-font-color-base);
  padding: unset;
  background-color: #0000;
  margin: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  --docusaurus-details-decoration-color: var(--ifm-font-color-base) !important;
}

.schema-item__details>summary:before {
  content: "";
  filter: var(--ifm-menu-link-sublist-icon-filter);
  background: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16px\" height=\"16px\" viewBox=\"0 0 24 24\"><path d=\"M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z\"></path></svg>") 50%/1.2rem 1.2rem;
  width: .75rem;
  height: .75rem;
  transition: transform var(--ifm-transition-fast)linear !important;
  transform-origin: unset !important;
  border: none !important;
  transform: rotate(90deg) !important
}

.schema-item__details[data-collapsed=false]>summary:before {
  transform: rotate(180deg) !important;
}