{#
  Segment selection is a plain list, so `MSH[0]` is the first MSH segment.
  Fields, components and subcomponents use HL7 numbering: `MSH[0][9][1]` is
  MSH-9.1, the message code.
#}
{
  "resourceType": "MessageHeader",
  "eventCoding": {
    "system": "http://example.org/fhir/message-events",
    "code": "{{ hl7v2.MSH[0][9][2] }}"
  },
  "destination": [
    {
      "name": "Acme Message Gateway",
      "target": {
        "reference": "{{ hl7v2.MSH[0][5][1] }}"
      },
      "endpoint": "llp:10.11.12.14:5432",
      "receiver": {
        "reference": "{{ hl7v2.MSH[0][6][1] }}"
      }
    }
  ],
  "sender": {
    "reference": "{{ hl7v2.MSH[0][3][1] }}"
  },
  "enterer": {
    "reference": "{{ hl7v2.MSH[0][4][1] }}"
  },
  "author": {
    "reference": "{{ hl7v2.MSH[0][4][1] }}"
  },
  "source": {
    "name": "Acme Central Patient Registry",
    "software": "FooBar Patient Manager",
    "version": "3.1.45.AABB",
    "contact": {
      "system": "phone",
      "value": "+1 (555) 123 4567"
    },
    "endpoint": "llp:10.11.12.13:5432"
  },
  "reason": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/message-reasons-encounter",
        "code": "{{ hl7v2.MSH[0][9][1] }}"
      }
    ]
  },
  "response": {
    "identifier": "{{ hl7v2.MSH[0][10][1] }}",
    "code": "ok"
  },
  "definition": "http://example.org/fhir/MessageDefinition/ADT_A01"
}
