name: Documentation publishing
on:
  release:
    types: [published]

jobs:
  rust_book:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

        # Use nightly so can have access to unstable options for rustdoc.
      - run: rustup update nightly && rustup default nightly
      # Compile with workspace entry with the enable-index-page flag.
      - name: Compile documentation.
        run: cd backend && RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo +nightly doc --workspace --no-deps
      - name: Copy wrangler config
        # Tmp delete large file that wrangler chokes on.
        run: cp backend/wrangler/rust-book.wrangler.jsonc ./backend/wrangler.jsonc && rm backend/target/doc/src/haste_fhir_model/r4/generated/terminology.rs.html
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: "4.50.0"
          workingDirectory: "backend"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

  typedoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 10.24.0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 23.9.0

      - name: Install dependencies
        run: cd frontend && pnpm install && pnpm -r build

      # Compile with typescript documentation.
      - name: Compile documentation.
        run: cd frontend && pnpm generate-documentation

      - name: Copy wrangler config
        run: cp frontend/wrangler/typedoc.wrangler.jsonc ./frontend/wrangler.jsonc

      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: "4.50.0"
          workingDirectory: frontend
          packageManager: pnpm
          command: deploy
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
