name: Documentation publishing
on:
  release:
    types: [published]

jobs:
  rust_book:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        # Use nightly so can have access to unstable options for rustdoc.
      - run: rustup update nightly && rustup default nightly
      # Compile with workspace entry with the enable-index-page flag.
      - name: Compile documentation.
        run: cd backend && RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo +nightly doc --workspace --no-deps
      - name: Copy wrangler config
        # Tmp delete large file that wrangler chokes on.
        run: cp backend/wrangler/rust-book.wrangler.jsonc ./backend/wrangler.jsonc && rm backend/target/doc/src/haste_fhir_model/r4/generated/terminology.rs.html
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: "4.50.0"
          workingDirectory: "backend"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
